*{
    margin: 0;
    padding: 0;
}
.container{
height: auto;
    width: 50%;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.div1{
    background-color: red;
    width: 100px;
    height: 100px;
   opacity: 0;
   display: inline-block;
}

.div2{
    background-color: yellow;
    width: 100px;
    height: 100px;
    opacity: 0;
    display: inline-block;
    margin-left: -104px;
}

.div3{
    background-color: blue;
    width: 100px;
    height: 100px;
    opacity: 0;
    display: inline-block;
    margin-left: -104px;
}

.div4{
    background-color: green;
    width: 100px;
    height: 100px;
    opacity: 0;
    display: inline-block;
    margin-left: -104px;
}

input[type="radio" ]:checked + .a ~ .div1{
    opacity: 1;
}

input[type="radio" ]:checked + .b ~ .div2{
    opacity: 1;
}

input[type="radio" ]:checked + .c ~ .div3{
    opacity: 1;
}

input[type="radio" ]:checked + .d ~ .div4{
    opacity: 1;
}