.container {

    width: 500px;
    height: auto;
    margin: auto;

}

div + div {

    width: 500px ;
    height: 70px ;
    background-color: brown;

}

div + div + div {

    width: 500px;
    height: 50px;
    background-color: orange;

}

div + div + div + div {

    width: 280px;
    height: 260px;
    background-color: chocolate;

}

div + div + div + div + div {

    width: 280px;
    height: 260px;
    background-color: antiquewhite;

}

div + div + div + div + div + div {

    width: 220px;
    height: 520px;
    background-color:#0000FF;
    float: right;
    margin-top: -520px;

}

div + div + div + div + div + div + div {

    width: 500px ;
    height: 70px ;
    background-color: black;
    margin-top: 0px;

}