*{
    padding: 0;
    margin: 0;
}

.container {

    width: 1000px;
    height: auto;
    margin: auto;
}

header {

    width: 1000px ;
    height: 200px ;
    background-color: skyblue;
}

nav {

    width: 1000px;
    height: 100px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {

    width: 200px;
    height: 200px;
    background-color: #0000FF;
}

main {

    width: 800px;
    height: 200px;
    background-color: #FFFF00;
    margin-left: 200px;
    margin-top: -200px;
    
}

footer {

    width: 1000px ;
    height: 100px ;
    background-color: black;
}

nav ul li{
    list-style-type: none;
    display: inline;
    
}

nav ul{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    transition: 0.2s;
}

nav ul li a:hover{
    background-color: white;
    color: black;
}

nav ul li ul li{
    display: block;
    margin-bottom: 20px;
}

nav ul li ul{
    margin-left: 0;
    margin-top: 35px;
    display:none;
}

nav ul li ul li a{
    padding-inline: 17px;
    border-bottom: 2px solid white;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li ul li{
    display: none;
    margin-left: 70px;
}
nav ul li ul li ul{
padding-inline: 5px;
margin-top: -32px;
}

nav ul li ul li:hover ul li{
    display: block;
}
nav div{
    width: 500px;
    height: 100px;
    
}