.container {

    width: 500px;
    height: 700px;
    margin: auto;

}

.box{

    width: 500px;
    height: 700px;
    background-image: url(../images/nature1.jpg);
    background-size: 500px 700px ;
    background-repeat: no-repeat;
    perspective: 700px;
    overflow: hidden;
    
}

.box1 {

    width: 500px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.526);
    color: white;
    font-size: 40px;
    padding: 15px ;
    box-sizing: border-box;
    transition: 0.5s;
    transform: rotateY(180deg);
    transform-origin: top left;

  margin-right : 500px; 

}
.box:hover .box1{

    transform: rotateY(0deg);
    
}